.limited-edition-container {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #fff;
  padding: 20px 0;
}

.limited-title {
  font-size: 28px;
  font-weight: 700;
  color: #111;
  margin-bottom: 10px;
}

.red-underline {
  width: 80px;
  height: 3px;
  background-color: #e30613; /* red underline */
  margin: 0 auto 10px auto;
  border-radius: 5px;
}

.limited-text {
  font-size: 16px;
  color: #333;
  font-style: italic;
}
