.banner-image-container {
  width: 100%;
  text-align: center;
  background-color: #fff;
  margin-top: 10px;
}

.banner-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0;
  display: block;
}
